body {
    font-family: Arial, sans-serif;

    display: flex;
}

.menu-lateral{
    width: 200px;

    background-color: #c2c2c2;

    padding: 20px;


    height: 100vh;

}

.conteudo{
    flex-grow:1;

    padding:20px;
}

.menu-lateral{
    list-style-type: none;
    padding: 0;
}

ul li a{
    text-decoration: none;

    color: black;

    display: block;

    padding: 10px 0;
}